.paginate {
  display: flex;
  flex-direction: row;
}

.paginate-item {
  margin: 0 10px;
  list-style: none;
}

.paginate-previous,
.paginate-next {
  margin: 0 10px;
  list-style: none;
}

.paginate-link {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}
li.previous a,
li.next a,
li.break a {
  border-color: transparent;
}
li.active a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 32px;
}
li.disabled a {
  color: grey;
}
li.disable,
li.disabled a {
  cursor: default;
}
